Repository YTADLAOUI/appliacation_de_Livraison_MARHABA_en_MERN_Stack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit-test-job, build-backend-job, build-frontend-job

unit-test-job:
  stage: test
  image: node:18
  script:
  - cd server
  - npm install jest
  - npm install mongoose
  - npm run tests

build-backend-job:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd server
  - docker build -t $CI_REGISTRY_IMAGE/backend:1.1 .
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/backend:1.1

build-frontend-job:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - cd client
  - docker build -t $CI_REGISTRY_IMAGE/frontend:1.2 .
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/frontend:1.2

merging with dev
  server/app.js
Due: unit-test-job, build-backend-job

style
  client/Dockerfile
  client/src/components/header/navbar.js
  server/Dockerfile
Due: unit-test-job, build-backend-job, build-frontend-job

home page
  client/src/App.js
  client/src/components/add_a_Panies/HomeScreen.jsx
  client/src/components/add_a_Panies/Product.jsx
  client/src/components/add_a_Panies/itemsShopping.jsx
  client/src/components/restaut/restaut.jsx
Due: build-frontend-job

app
  client/src/App.js
  server/app.js
Due: unit-test-job, build-backend-job, build-frontend-job

style
  client/src/components/header/navbar.js
Due: build-frontend-job

hedear style
  client/src/components/header/navbar.js
Due: build-frontend-job

fixing orders problem
  client/src/App.js
  client/src/components/delivery/welcome.jsx
Due: build-frontend-job

fix the problems
  client/src/App.js
  client/src/components/header/navbar.js
Due: build-frontend-job

error
  client/src/App.js
  server/app.js
  server/controllers/managerController.js
  server/routes/restaurantRoutes.js
Due: unit-test-job, build-backend-job, build-frontend-job

fixing navbar problem
  client/src/components/header/navbar.js
Due: build-frontend-job

test
  client/src/components/header/navbar.js
Due: build-frontend-job

fixing restaurant_id not found in map component
  client/src/components/tracking/Map.jsx
Due: build-frontend-job

fixing show orders to delivery man
  client/src/components/delivery/welcome.jsx
  client/src/components/orders/managerNontification.jsx
  server/app.js
  server/controllers/OrderControllrt.js
Due: unit-test-job, build-backend-job, build-frontend-job

fixing nav bar problems
  client/src/App.js
  client/src/components/client/ClientOrders.jsx
  client/src/components/delivery/welcome.jsx
  client/src/components/header/navbar.js
Due: build-frontend-job

changing map icons
  client/public/images/delivery-man.png
  client/public/images/restoNew.png
  client/public/images/userNew.png
  client/src/App.js
  client/src/components/header/navbar.js
  client/src/components/middlewares/MiddlewareLogOut.jsx
  client/src/components/middlewares/MiddlewareLogin.jsx
  client/src/components/middlewares/MiddlewareManager.jsx
  client/src/components/middlewares/middlewaresDelivery.jsx
  client/src/components/tracking/DeliveryManMarker.jsx
  client/src/components/tracking/RestaurantMarker.jsx
  client/src/components/tracking/UserHouseMarker.jsx
Due: build-frontend-job

fixing manager dashboard
  client/src/components/header/navbar.js
  client/src/components/manager/Content.js
  client/src/components/manager/Dashboard.js
  client/src/components/manager/RestaurantDishes.js
  client/src/components/manager/welcome.js
  client/src/components/orders/managerNontification.jsx
  client/src/components/tracking/DeliveryManMarker.jsx
  client/src/components/tracking/RestaurantMarker.jsx
  client/src/components/tracking/UserHouseMarker.jsx
Due: build-frontend-job

fixing add resaurant ana add dishes forms
  client/src/components/manager/AddDishForm.js
  client/src/components/manager/Dashboard.js
  client/src/components/manager/RestaurantDishes.js
  client/src/components/manager/add_restaut.js
Due: build-frontend-job

push to youssef
  client/src/components/add_a_Panies/cartShopping.jsx
  client/src/components/header/navbar.js
  client/src/components/manager/Dashboard.js
  client/src/components/orders/managerNontification.jsx
  client/src/components/restaut/homeRestaut.jsx
Due: build-frontend-job

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Path conditions:
  unit-test-job: any of: server/**/*
  build-backend-job: any of: server/**/*
  build-frontend-job: any of: client/**/*
